@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor.Hybrid.Server</title>
    <base href="~/" />
    <link href="_content/Blazor.Shared.UI/css/app.css" rel="stylesheet" />
    <link href="_content/Blazor.Shared.UI/css/app.min.css" rel="stylesheet" />
    <link href="Blazor.Hybrid.Server.styles.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/browser-resize.js"></script>
</body>
</html>
